<html>
<head>
<title>Yield Curves</title>
<link rel="stylesheet" type="text/css" href="/static/index.css" />
</head>

<body>

{% if curves %}
<table>
  {% for curve in curves %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td>{{ curve.currency }}</td>
  <td>{{ curve.date }}</td>
  <td><a href="/curve/{{curve.id}}/">{{ curve.name }}</a></td>
  <td><a href="/curvedata/{{curve.id}}/">CSV output</a></td>
  </tr>
  {% endfor %}
  </table>
{% else %}
<p>No yield curves are available.</p>
{% endif %}

</body></html>
